<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql ibm_db_sa://gmz81456:7w97n2g0q-79g597@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: gmz81456@BLUDB'

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [4]:
%sql select distinct(name), coltype, length from sysibm.syscolumns where tbname = 'SPACEXTBL'

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('BOOSTER_VERSION', 'VARCHAR ', 14),
 ('CUSTOMER', 'VARCHAR ', 57),
 ('DATE', 'DATE    ', 4),
 ('LANDING__OUTCOME', 'VARCHAR ', 22),
 ('LAUNCH_SITE', 'VARCHAR ', 12),
 ('MISSION_OUTCOME', 'VARCHAR ', 32),
 ('ORBIT', 'VARCHAR ', 11),
 ('PAYLOAD', 'VARCHAR ', 61),
 ('PAYLOAD_MASS__KG_', 'INTEGER ', 4),
 ('TIME__UTC_', 'TIME    ', 3)]

In [5]:
%sql select distinct(LAUNCH_SITE) from SPACEXTBL

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql select * from SPACEXTBL where LAUNCH_SITE like '%CCA%' limit 5

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [20]:
%sql select sum(PAYLOAD_MASS__KG_) as NASA_SUM_PAYLOAD_MASS__KG_ from SPACEXTBL WHERE CUSTOMER like '%NASA%';

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(107010,)]

In [16]:
%sql select sum(PAYLOAD_MASS__KG_) as SUM_PAYLOAD_MASS__KG_ from SPACEXTBL

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(619967,)]

In [9]:
%sql select distinct(CUSTOMER) from SPACEXTBL

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ABS Eutelsat',),
 ('AsiaSat',),
 ('Bulsatcom',),
 ('CONAE',),
 ('CONAE, PlanetIQ, SpaceX',),
 ('Canadian Space Agency (CSA)',),
 ('EchoStar',),
 ('Es hailSat',),
 ('Hisdesat exactEarth SpaceX',),
 ('Hispasat  NovaWurks',),
 ('Inmarsat',),
 ('Intelsat',),
 ('Iridium Communications',),
 ('Iridium Communications GFZ ‚ NASA',),
 ('KT Corporation',),
 ('MDA',),
 ('NASA (CCD)',),
 ('NASA (CCDev)',),
 ('NASA (CCP)',),
 ('NASA (COTS)',),
 ('NASA (COTS) NRO',),
 ('NASA (CRS)',),
 ('NASA (CRS), Kacific 1',),
 ('NASA (CTS)',),
 ('NASA (LSP)',),
 ('NASA (LSP) NOAA CNES',),
 ('NASA / NOAA / ESA / EUMETSAT',),
 ('NRO',),
 ('NSPO',),
 ('Northrop Grumman',),
 ('Orbcomm',),
 ('PSN, SpaceIL / IAI',),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)',),
 ('SES',),
 ('SES EchoStar',),
 ('SKY Perfect JSAT Group',),
 ('Sky Perfect JSAT, Kacific 1',),
 ('SpaceX',),
 ('SpaceX, Planet Labs',),
 ('SpaceX, Planet Labs, PlanetIQ',),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',),
 ('Spacecom',),
 ('Spaceflight Industries',),
 ('Telesat',),
 ('Telkom Indonesia',),
 ('Thaicom',),
 ('Thales-Alenia/BTRC',),
 ('Turkmenistan National Space Agency',),
 ('U.S. Air Force',),
 ('U.S. Air Force NASA NOAA',),
 ('U.S. Space Force',),
 ('USAF',),
 ('USSF',)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [21]:
%sql select avg(PAYLOAD_MASS__KG_) as AVG_PAYLOAD_MASS_KG_BY_F9_V1_1 from SPACEXTBL WHERE BOOSTER_VERSION = 'F9 v1.1';

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2928.400000'),)]

In [18]:
%sql select distinct(BOOSTER_VERSION) from SPACEXTBL

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 B4  B1039.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1043.2',),
 ('F9 B4 B1039.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 B4 B1042.1',),
 ('F9 B4 B1043.1',),
 ('F9 B4 B1044',),
 ('F9 B4 B1045.1',),
 ('F9 B4 B1045.2',),
 ('F9 B5  B1046.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1047.3',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.2',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.2',),
 ('F9 B5 B1056.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1058.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1059.3',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5B1049.1',),
 ('F9 B5B1050',),
 ('F9 B5B1051.1',),
 ('F9 B5B1054',),
 ('F9 B5B1056.1',),
 ('F9 B5B1058.1',),
 ('F9 B5B1059.1',),
 ('F9 B5B1060.1',),
 ('F9 B5B1061.1',),
 ('F9 B5B1062.1',),
 ('F9 B5B1063.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1029.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 FT  B1038.2',),
 ('F9 FT B1019',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1030',),
 ('F9 FT B1031.1',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 FT B1038.1',),
 ('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1017',),
 ('F9 v1.1 B1018',)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [25]:
%sql SELECT MIN(DATE) as first_date_success FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [33]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 ;

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [38]:
%sql SELECT MISSION_OUTCOME, COUNT(CUSTOMER) AS total_number FROM SPACEXTBL GROUP BY MISSION_OUTCOME;

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (in flight)', Decimal('1')),
 ('Success', Decimal('99')),
 ('Success (payload status unclear)', Decimal('1'))]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [41]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for the in year 2015

In [80]:
%sql SELECT LANDING__OUTCOME,BOOSTER_VERSION,Launch_Site FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Failure (drone ship)' AND YEAR(Date)= 2015;

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [88]:
%sql SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) AS total_number FROM SPACEXTBL WHERE DATE >= '2010-06-04' AND DATE <= '2017-03-20' AND (LANDING__OUTCOME = 'Failure (drone ship)' OR LANDING__OUTCOME ='Success (ground pad)') GROUP BY LANDING__OUTCOME ORDER BY COUNT(LANDING__OUTCOME) DESC;

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (drone ship)', Decimal('5')),
 ('Success (ground pad)', Decimal('3'))]

## Now let us see the date when the launch failed and succeeded between the date 2010-06-04 and 2017-03-20

In [90]:
%sql SELECT LANDING__OUTCOME, DATE FROM SPACEXTBL WHERE DATE >= '2010-06-04' AND DATE <= '2017-03-20' AND (LANDING__OUTCOME = 'Failure (drone ship)' OR LANDING__OUTCOME ='Success (ground pad)');

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (drone ship)', datetime.date(2015, 1, 10)),
 ('Failure (drone ship)', datetime.date(2015, 4, 14)),
 ('Success (ground pad)', datetime.date(2015, 12, 22)),
 ('Failure (drone ship)', datetime.date(2016, 1, 17)),
 ('Failure (drone ship)', datetime.date(2016, 3, 4)),
 ('Failure (drone ship)', datetime.date(2016, 6, 15)),
 ('Success (ground pad)', datetime.date(2016, 7, 18)),
 ('Success (ground pad)', datetime.date(2017, 2, 19))]

## Here we select all the landing outcomes count regardless the period

In [64]:
%sql SELECT LANDING__OUTCOME,COUNT(LANDING__OUTCOME) AS total_number FROM SPACEXTBL GROUP BY LANDING__OUTCOME ORDER BY COUNT(LANDING__OUTCOME) ASC;

 * ibm_db_sa://gmz81456:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Precluded (drone ship)', Decimal('1')),
 ('Failure (parachute)', Decimal('2')),
 ('Uncontrolled (ocean)', Decimal('2')),
 ('Failure', Decimal('3')),
 ('Controlled (ocean)', Decimal('5')),
 ('Failure (drone ship)', Decimal('5')),
 ('Success (ground pad)', Decimal('9')),
 ('Success (drone ship)', Decimal('14')),
 ('No attempt', Decimal('22')),
 ('Success', Decimal('38'))]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>